.price_container {
  position: relative;
  margin: 0 auto 50px;
  width: 92.81%;
  max-height: 1068px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.price_container::-webkit-scrollbar {
  display: none;
}

.price_row {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 60px;
  background-color: #001027;
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  border-radius: 20px;
}

.model_cart {
  margin: auto 0 auto 36px;
  width: 12.47%;
  height: 24px;
  font-size: 18px;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.vendor {
  margin: auto 0;
  width: 34.95%;
  height: 24px;
  font-size: 18px;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.chip {
  margin: auto 0;
  width: 11.47%;
  height: 24px;
  font-size: 18px;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.refill_price {
  margin: auto 0;
  width: 11.6%;
  height: 24px;
  font-size: 18px;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.recovery_price {
  margin: auto 36px auto 0;
  width: 11.6%;
  height: 24px;
  font-size: 18px;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

@media all and (max-width: 1440px) {
  .price_container {
    margin: 0 auto 3.47vw;
    max-height: 74.16vw;
    gap: 1.66vw;
  }

  .price_row {
    height: 4.16vw;
    gap: 1.04vw;
    border-radius: 1.38vw;
  }

  .model_cart {
    margin: auto 0 auto 2.5vw;
    height: 1.66vw;
    font-size: 1.25vw;
  }

  .vendor {
    height: 1.66vw;
    font-size: 1.25vw;
  }

  .chip {
    height: 1.66vw;
    font-size: 1.25vw;
  }

  .refill_price {
    height: 1.66vw;
    font-size: 1.25vw;
  }

  .recovery_price {
    margin: auto 2.5vw auto 0;
    height: 1.66vw;
    font-size: 1.25vw;
  }
}

@media all and (max-width: 768px) {
  .price_container {
    margin: 0 auto 4.8vw;
    width: 88.62%;
    max-height: 86vw;
    gap: 2.8vw;
  }

  .separator:nth-child(2),
  .separator:nth-child(4) {
    display: none;
  }

  .price_row {
    width: 100%;
    height: 12vw;
    gap: 3.27%;
    border-radius: 3.2vw;
  }

  .model_cart {
    margin: auto 0 auto 4.8vw;
    width: 38.39%;
    height: 3.6vw;
    font-size: 2.8vw;
  }

  .vendor {
    display: none;
  }

  .chip {
    display: none;
  }

  .refill_price {
    width: 18.39%;
    height: 3.6vw;
    font-size: 2.8vw;
  }

  .recovery_price {
    margin: auto 4.8vw auto 0;
    width: 30.39%;
    height: 3.6vw;
    font-size: 2.8vw;
  }
}
