.profile__info {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media all and (max-width: 520px) {
    .profile__info {
        flex-direction: column;
        justify-content: center;
        min-width: 282px;
        padding-bottom: 34px;
    }
}