.price_container {
  position: relative;
  margin: 0 auto 50px;
  width: 92.81%;
  max-height: 1068px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.price_container::-webkit-scrollbar {
  display: none;
}

.price_row {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 60px;
  background-color: #001027;
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  border-radius: 20px;
}

.vendor {
  margin: auto 0 auto 36px;
  width: 15.47%;
  height: 24px;
  font-size: 18px;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.model {
  margin: auto 0;
  width: 11.6%;
  height: 24px;
  font-size: 18px;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.processorVendor {
  margin: auto 0;
  width: 11.6%;
  height: 24px;
  font-size: 18px;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.display {
  margin: auto 0;
  width: 11.6%;
  height: 24px;
  font-size: 18px;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.ram {
  margin: auto 0;
  width: 11.6%;
  height: 24px;
  font-size: 18px;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.ramType {
  margin: auto 36px auto 0;
  width: 20.12%;
  height: 24px;
  font-size: 18px;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.separator {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
}

@media all and (max-width: 1440px) {
  .price_container {
    margin: 0 auto 3.47vw;
    max-height: 74.16vw;
    gap: 1.66vw;
  }

  .price_row {
    height: 4.16vw;
    gap: 1.04vw;
    border-radius: 20px;
  }

  .vendor {
    margin: auto 0 auto 2.5vw;
    height: 1.66vw;
    font-size: 1.25vw;
  }

  .model {
    height: 1.66vw;
    font-size: 1.25vw;
  }

  .processorVendor {
    height: 1.66vw;
    font-size: 1.25vw;
  }

  .display {
    height: 1.66vw;
    font-size: 1.25vw;
  }

  .ram {
    height: 1.66vw;
    font-size: 1.25vw;
  }

  .ramType {
    margin: auto 2.5vw auto 0;
    height: 1.66vw;
    font-size: 1.25vw;
  }

  .separator {
    font-size: 1.25vw;
  }
}

@media all and (max-width: 768px) {
  .price_container {
    margin: 0 auto 4.8vw;
    width: 88.42%;
    max-height: 86vw;
    gap: 2.8vw;
  }

  .separator:nth-child(6),
  .separator:nth-child(8),
  .separator:nth-child(10) {
    display: none;
  }

  .price_row {
    width: 100%;
    height: 12vw;
    gap: 2.8vw;
    border-radius: 3.2vw;
  }

  .vendor {
    margin: auto 0 auto 4.8vw;
    width: 22.39%;
    height: 3.6vw;
    font-size: 2.8vw;
  }

  .model {
    width: 26.39%;
    height: 3.6vw;
    font-size: 2.8vw;
  }

  .processorVendor {
    display: none;
  }

  .display {
    margin: auto 4.8vw auto 0;
    width: 18.39%;
    height: 3.6vw;
    font-size: 2.8vw;
  }

  .ram {
    display: none;
  }

  .ramType {
    display: none;
  }

  .separator {
    font-size: 2.8vw;
  }
}

