.price_row {
    width: 99.69%;
    background-color: #fff;
    color: #0C0C0C;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    border-radius: 20px;
    border: 2px solid #89919D;
  }

.price_row:hover {
    background-color: #89919D;
    color: #fff;
}

.link {
    width: 100%;
    text-decoration: none;
}

.model_cart {
    margin: auto 0 auto 36px;
    width: 12.47%;
    height: 24px;
    font-size: 18px;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  
  .vendor {
    margin: auto 0;
    width: 34.95%;
    height: 24px;
    font-size: 18px;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
   
  .chip {
    margin: auto 0;
    width: 11.47%;
    height: 24px;
    font-size: 18px;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .refill_price {
    margin: auto 0;
    width: 11.6%;
    height: 24px;
    font-size: 18px;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .recovery_price {
    margin: auto 36px auto 0;
    width: 11.6%;
    height: 24px;
    font-size: 18px;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }