.price_row {
    padding: 2px 0;
    width: 100%;
    height: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    border-bottom: 0.5px solid black;
    cursor: pointer;
    background-color: azure;
    border-radius: 30px;
}

.price_row:hover {
    scale: 1.02;
    transition: scale 0.2s linear;
}

.link {
    width: 100%;
    text-decoration: none;
    color: var(--color-text);
}

.model_cart {
    padding-left: 7px;
    border-left: 1px solid #000000;
    margin: 0;
    width: 120px;
}

.vendor {
    padding-left: 7px;
    border-left: 1px solid #000000;
    margin: 0;
    width: 70px;
}

.chip {
    padding-left: 7px;
    border-left: 1px solid #000000;
    margin: 0;
    width: 110px;
}

.devices {
    padding-left: 7px;
    border-left: 1px solid #000000;
    margin: 0;
    width: 60%;
}

.recovery_price {
    border-left: 1px solid #000000;
    margin: 0;
    width: 100px;
    text-align: center;
}

.refill_price {
    border-left: 1px solid #000000;
    margin: 0;
    width: 80px;
    text-align: center;
}

.image {
    padding-left: 10px;
    padding-right: 3px;
    width: 20px;
    height: 20px;
}

.image:hover {
    scale: 8.08;
    transition: scale 0.3s linear;
}