.page {
    max-width: 1280px;
    margin: 0 auto;
    font-family: 'Inter', 'Arial', sans-serif;
    text-rendering: optimizeLegibility;
    background-color:rgb(247, 239, 239);
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
}

@media all and (max-width: 1024px) {
    .page {
        max-width: 1024px;
    }
}

@media all and (max-width: 320px) {
    .page {
        max-width: 320px;
    }
}