.price_row {
    width: 99.69%;
    background-color: #fff;
    color: #0C0C0C;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
    border-radius: 20px;
    border: 2px solid #89919D;
  }

.price_row:hover {
    background-color: #89919D;
    color: #fff;
}

.link {
    width: 100%;
    text-decoration: none;
}

.model {
    margin: auto 0 auto 36px;
    width: 15.47%;
    height: 24px;
    font-size: 18px;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  
  .type {
    margin: auto 0;
    width: 11.60%;
    height: 24px;
    font-size: 18px;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
   
  .device {
    margin: auto 0;
    width: 11.60%;
    height: 24px;
    font-size: 18px;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .format {
    margin: auto 0;
    width: 11.60%;
    height: 24px;
    font-size: 18px;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .speed {
    margin: auto 0;
    width: 11.6%;
    height: 24px;
    font-size: 18px;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .capacity {
    margin: auto 36px auto 0;
    width: 20.12%;
    height: 24px;
    font-size: 18px;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }