.conteiner {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 95%;
    border: 2px solid black;
    background-color: aquamarine;
    padding: 10px 0;
    border-radius: 30px;
}

.title {
    margin: 0;
}

.nputs_conteiner {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ff0000;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.button:hover {
    background-color: #ff5555;
}