.main_menu_horisontal {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3.47vw;
}

.main_menu_vertical {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.66vw;
}

.link {
  margin: 0;
  text-decoration: none;
  color: #0c0c0c;
  font-size: 1.25vw;
  font-weight: 400;
}

.link_footer {
  margin: 0;
  text-decoration: none;
  color: #fff;
  font-size: 1.25vw;
  font-weight: 400;
}

.link_footer:hover {
  color: #005ce5;
}

.link_invisible {
  display: none;
}

.link:hover {
  color: #005ce5;
}

@media all and (max-width: 500px) {
  .main_menu_horisontal {
    margin: 6.8vw 0 0 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3.2vw;
  }

  .main_menu_vertical {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4.8vw;
    gap: 2.8vw;
  }

  .link {
    margin: 0;
    width: 33%;
    text-decoration: none;
    color: #0c0c0c;
    font-size: 3.6vw;
    font-weight: 400;
  }

  .link_footer {
    margin: 0;
    text-decoration: none;
    color: #fff;
    font-size: 3.6vw;
    font-weight: 400;
  }

  .link_footer:hover {
    color: #005ce5;
  }

  .link_invisible {
    display: none;
  }

  .link:hover {
    color: #005ce5;
  }
}
