.elements__element {
    position: relative;
    margin: 0;
    max-width: 282px;
    padding-bottom: 22px;
    background: #FFFFFF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

@media all and (max-width: 900px) {
    .elements__element {
        padding-bottom: 27px;
    }
}