.container {
  margin: 16px auto 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #005ce5;
  border-radius: 40px;
}

.price_wrap_box {
  margin: 0 0 50px 0;
  width: 92.81%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.boxes_title {
  margin: 50px 0 0 0;
  width: 92.81%;
  height: 42px;
  color: #fff;
  font-size: 36px;
  font-weight: 500;
}

.text_box {
  margin: 24px 0 0 0;
  min-width: 28.19%;
  height: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.text {
  margin: 0;
  width: 75%;
  height: 100%;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}

.price {
  height: 100%;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
}

@media all and (max-width: 1440px) {
  .container {
    margin: 1.11vw auto 0;
    border-radius: 2.77vw;
  }

  .price_wrap_box {
    margin: 0 0 3.47vw 0;
    height: 20.83vw;
  }

  .boxes_title {
    margin: 3.47vw 0 0 0;
    height: 2.91vw;
    font-size: 2.5vw;
  }

  .text_box {
    margin: 1.66vw 0 0 0;
    height: 1.66vw;
  }

  .text {
    font-size: 1.25vw;
  }

  .price {
    font-size: 1.25vw;
  }
}

@media all and (max-width: 768px) {
  .container {
    padding: 4.8vw 0;
    margin: 2.8vw auto;
    border-radius: 8vw;
  }

  .price_wrap_box {
    margin: 0;
    width: 88.62%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 3.8vw;
  }

  .text_box {
    margin: 0 auto;
    width: 100%;
    height: 4vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .boxes_title {
    width: 88.62%;
    margin: 0 0 3.8vw 0;
    height: 4.8vw;
    font-size: 4.8vw;
  }

  .text_box {
    margin: 0;
    height: 3.4vw;
  }

  .text {
    font-size: 3.2vw;
  }

  .price {
    font-size: 3.2vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }
}

