.tabcontent {
    padding: 6px 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.link {
    float: left;
    height: 50px;
    padding: 0 10px;
    background-color: #f2f2f3;
    text-decoration: none;
    transition: all 0.3s;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #000;
    border-radius: 15px;
    border: 1px solid #ccc;
}

.link:hover {
    scale: 1.08;
    transition: scale 0.3s linear;
}

.active {
    scale: 1.06;
    color: #000;
    background-color: rgb(218, 245, 245);
}

.tab {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.box {
    margin: 0 auto 50px;
    width: 92.81%;
    display: flex;
    flex-direction: column;
}

.images_box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.image {
    cursor: pointer;
    padding: 5px;
    width: 150px;
    height: 150px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.image:active {
    scale: 3.5;
    transition: scale 0.3s linear;
}

.title {
    margin: 0;
}

.text {
    font-size: 18px;
}