.popup__close {
    position: absolute;
    right: -39px;
    top: -39px;
    min-width: 32px;
    min-height: 32px;
    background-size: 32px 32px;
    background-image: url(../../../images/close-icon.svg);
    background-color: rgba(0 0 0 / .0); ;
    border: 0;
}

.popup__close:hover {
    opacity: 0.6;
    cursor: pointer;
}


@media all and (max-width: 540px) {
    .popup__close {
        top: -34px;
        right: 0px;
        min-width: 20px;
        min-height: 20px;
        background-size: 20px 20px;
    }
}