.container {
  margin: 16px auto;
  width: 96.66%;
  height: 220px;
  background-color: #005ce5;
  border-radius: 40px;
  display: flex;
  flex-direction: row;
  gap: 162px;
}

.info_box {
  margin: 50px 0 50px 50px;
  width: 69.68%;
  height: 54.54%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  width: 100%;
  height: 50px;
  margin: 0;
  color: #fff;
  font-size: 46px;
  font-weight: 500;
}

.description {
  width: 100%;
  height: 48px;
  margin: 0;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
}

.button {
  width: 11.49%;
  height: 36.36%;
  margin: auto 50px auto 0;
  text-decoration: none;
  color: #fff;
  background-color: #001027;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 500;
  border-radius: 20px;
}

.button:hover {
  background-color: #fff;
  color: #0c0c0c;
}

@media all and (max-width: 1440px) {
  .container {
    margin: 1.11vw auto;
    height: 15.27vw;
    border-radius: 2.77vw;
    gap: 11.25vw;
  }
  
  .info_box {
    margin: 3.47vw 0 3.47vw 3.47vw;
  }
  
  .title {
    height: 3.47vw;
    font-size: 3.19vw;
  }
  
  .description {
    height: 3.33vw;
    font-size: 1.25vw;
  }
  
  .button {
    margin: auto 3.47vw auto 0;
    font-size: 1.25vw;
    border-radius: 1.38vw;
  }
}

@media all and (max-width: 768px) {
  .container {
    margin: 2.8vw auto;
    width: 95.33%;
    height: 55.2vw;
    background-color: #005ce5;
    border-radius: 8vw;
    display: flex;
    flex-direction: column;
    gap: 4.8vw;
  }

  .info_box {
    margin: 4.8vw auto 0;
    width: 88.05%;
    height: 28.8vw;
    display: flex;
    flex-direction: column;
    gap: 2.8vw;
  }

  .title {
    width: 100%;
    height: 6.8vw;
    margin: 0;
    color: #fff;
    font-size: 5.6vw;
    font-weight: 500;
  }

  .description {
    width: 100%;
    height: 19.2vw;
    margin: 0;
    color: #fff;
    font-size: 3.6vw;
    font-weight: 400;
  }

  .button {
    width: 88.05%;
    height: 12vw;
    margin: 0 auto;
    text-decoration: none;
    color: #fff;
    background-color: #001027;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 3.2vw;
    font-weight: 500;
    border-radius: 3.2vw;
  }

  .button:hover {
    background-color: #fff;
    color: #0c0c0c;
  }
}
