.elements {
    margin: 0 auto 0 auto;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 66px;
    max-width: 880px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 282px);
    gap: 20px 17px;
    justify-content: center;
    list-style-type: none;
}

@media all and (max-width: 340px) {
    .elements {
        padding-bottom: 48px;
        max-width: 282px;
        gap: 19px;
    }
}