.main-menu__element {
    margin: 0;
    padding: 10px;
    max-width: 100%;
    background-color: rgb(230, 241, 241);
    border: 1px solid rgba(84, 84, 84, 0.7);
    text-align: center;
}

.main-menu__element:hover {
    cursor: pointer;
    opacity: 0.8;
    background-color: rgb(169, 241, 241);
    transition: all 0.7s;
}