.input {
  margin: 0 auto;
  padding: 0 10px;
  width: 91.37%;
  height: 76px;
  border-radius: 20px;
  border: 2px solid #89919D;
  color: #89919D;
  font-size: 18px;
  font-weight: 500;
}

.input:focus {
  color: #000;
}