.link {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: rgb(51, 50, 50);
}

.link:hover {
    cursor: pointer;
    opacity: 0.9;
    color: rgb(105, 166, 247);
    transition: all 0.3s;
}