@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/page/page.css);

@import url(../blocks/cards/cards.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);

@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__research/profile__research.css);
@import url(../blocks/profile/__intro/profile__intro.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__add/profile__add.css);
@import url(../blocks/profile/__edit/profile__edit.css);
@import url(../blocks/profile/__avatar-hover/profile__avatar-hover.css);

@import url(../blocks/elements/elements.css);
@import url(../blocks/elements/__element/elements__element.css);
@import url(../blocks/elements/__image/elements__image.css);
@import url(../blocks/elements/__box/elements__box.css);
@import url(../blocks/elements/__name/elements__name.css);
@import url(../blocks/elements/__button/elements__button.css);
@import url(../blocks/elements/__button/_active/elements__button_active.css);
@import url(../blocks/elements/__delete-button/elements__delete-button.css);
@import url(../blocks/elements/__container/elements__container.css);
@import url(../blocks/elements/__container/_like/elements__container_like.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);

@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/__body/popup__body.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__close/popup__close.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/__button/popup__button.css);
@import url(../blocks/popup/__input/popup__input.css);
@import url(../blocks/popup/__fields/popup__fields.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/__body/_for-image/popup__body_for-image.css);
@import url(../blocks/popup/__image-title/popup__image-title.css);
@import url(../blocks/popup/__image/popup__image.css);
@import url(../blocks/popup/_image/popup_image.css);
@import url(../blocks/popup/__input/_type_error/popup__input_type_error.css);
@import url(../blocks/popup/__input/_error/popup__input_error.css);
@import url(../blocks/popup/__button/_inactive/popup__button_inactive.css);
@import url(../blocks/popup/__input/_error_active/popup__input_error_active.css);
@import url(../blocks/popup/__body/_avatar/popup__body_avatar.css);