.open_modal {
    position: fixed;
    border-radius: 30px;
}

.modal_position {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 11;
}

.close_icon {
    position: absolute;
    top: -25px;
    right: -25px;
    font-size: 30px;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
}