.profile__avatar {
    position: relative;
    display: inline-block;
    border-radius: 50%;
    margin: 0;
    height: 120px;
    width: 120px;
    object-fit: cover;
    object-position: 50% 50%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 1;
}