.main_menu_horisontal {
  margin: 0;
  width: 75%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.main_menu_vertical {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.link {
  margin: 0;
  text-decoration: none;
  color: #0c0c0c;
  font-size: 16px;
  font-weight: 400;
}

.link_footer {
  margin: 0;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
}

.link_footer:hover {
  color: #005ce5;
}

.link_invisible {
  display: none;
}

.link:hover {
  color: #005ce5;
}

@media all and (max-width: 1440px) {
  .main_menu_horisontal {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.53vw;
  }

  .main_menu_vertical {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.69vw;
  }

  .link {
    margin: 0;
    text-decoration: none;
    color: #0c0c0c;
    font-size: 1.25vw;
    font-weight: 400;
  }

  .link_footer {
    margin: 0;
    text-decoration: none;
    color: #fff;
    font-size: 1.25vw;
    font-weight: 400;
  }

  .link_footer:hover {
    color: #005ce5;
  }

  .link_invisible {
    display: none;
  }

  .link:hover {
    color: #005ce5;
  }
}

@media all and (max-width: 768px) {
  .main_menu_horisontal {
    margin: 6.8vw 0 0 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.25vw;
  }

  .main_menu_vertical {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.97vw;
  }

  .main_menu_center_align {
    margin: 0;
    width: 80vw;
    height: 120vw;
    font-size: 10.8vw;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4.8vw;
    background-color: #005ce5;
    border-radius: 3.125vw;
  }

  .link {
    margin: 0;
    width: 33%;
    text-decoration: none;
    color: #0c0c0c;
    font-size: 2.6vw;
    font-weight: 400;
  }

  .link_footer {
    margin: 0;
    text-decoration: none;
    color: #fff;
    font-size: 3.2vw;
    font-weight: 400;
  }

  .link_footer:hover {
    color: #005ce5;
  }

  .link_invisible {
    display: none;
  }

  .link:hover {
    color: #005ce5;
  }
}
