.container {
    padding-top: 10px;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid black;
}

.Logo {
    margin: 0;
    font-size: 30px;
    font-weight: 900;
}

.link {
    text-decoration: none;
    color: var(--color-text);
}

.logo_container {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.phone_social_box {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.phone {
    font-size: 24px;
    font-weight: 900;
}

@media all and (max-width: 500px) {
    .Logo {
        font-size: 20px;
    }
    .phone {
        font-size: 20px;
    }
}