.container {
  width: 100%;
  margin: 16px auto 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
  background-color: #fff;
  border-radius: 40px;
}

.title_box {
  margin: 50px auto 0;
  width: 92.81%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.description {
  margin: 0;
  width: 100%;
  color: #0c0c0c;
  font-size: 46px;
  font-weight: 500;
}

@media all and (max-width: 1440px) {
  .container {
    margin: 1.11vw auto 0;
    gap: 3.47vw;
    border-radius: 2.77vw;
  }

  .title_box {
    margin: 3.47vw auto 0;
    gap: 0.83vw;
  }

  .description {
    font-size: 3.19vw;
  }
}

@media all and (max-width: 768px) {
  .container {
    margin: 2.8vw auto 0;
    gap: 4.8vw;
    border-radius: 6vw;
  }

  .title_box {
    margin: 4.8vw auto 0;
    width: 88.62%;
    gap: 2.4vw;
  }

  .description {
    font-size: 5.6vw;
  }
}

