.footer {
  margin: 0 auto 1.66vw auto;
  width: 96.66%;
  height: 22.5vw;
  display: flex;
  flex-direction: row;
  gap: 1.11vw;
}

.footer_box {
  width: 49.42%;
  height: 100%;
  background-color: #14243b;
  border-radius: 2.77vw;
  display: flex;
  flex-direction: row;
}

.adress_box {
  margin: 3.47vw;
  width: 39.09%;
  height: 69.13%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.adress_container {
  width: 100%;
  height: 3.33vw;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 1.66vw;
}

.location_img {
  margin: 0;
  width: 1.66vw;
  height: 1.66vw;
}

.adress_text {
  margin: 0;
  width: 87.36%;
  height: 100%;
  font-size: 1.25vw;
  font-weight: 400;
  color: #fff;
}

.site_name_text {
  margin: 0;
  width: 100%;
  height: 2.5vw;
  font-size: 2.08vw;
  font-weight: 500;
  color: #fff;
}

.user_agreement_text {
  margin: 0;
  width: 100%;
  height: 1.25vw;
  font-size: 0.97vw;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
}

.user_agreement_text:hover {
  color: #005ce5;
}

.menu_box {
  margin: 3.47vw 3.47vw 3.47vw 0;
  width: 39.09%;
  height: 69.13%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.contacts_box {
  margin: 3.47vw;
  width: 57.26%;
  height: 69.13%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.66vw;
}

.contacts {
  margin: 0 0 5.55vw 0;
  width: 100%;
  height: 1.66vw;
  font-size: 1.25vw;
  font-weight: 400;
  color: #fff;
}

.phone {
  margin: 0;
  width: 100%;
  height: 2.5vw;
  font-size: 2.08vw;
  font-weight: 500;
  color: #fff;
}

.email {
  margin: 0;
  width: 100%;
  height: 2.5vw;
  font-size: 2.08vw;
  font-weight: 500;
  color: #fff;
}

.social_box {
  margin: 3.47vw 3.47vw 3.47vw 0;
  width: 57.26%;
  height: 69.13%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

@media all and (max-width: 500px) {
  .footer {
    margin: 0 auto 4.8vw;
    width: 89.33%;
    height: 139.6vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2.8vw;
  }

  .footer_box {
    width: 100%;
    height: 68vw;
    background-color: #14243b;
    border-radius: 8vw;
    display: flex;
    flex-direction: column;
  }

  .site_name_text {
    display: none;
  }

  .adress_box {
    margin: 4.8vw;
    width: 87.05%;
    height: 69.13%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .adress_container {
    width: 100%;
    height: 9.6vw;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 4.8vw;
  }
  
  .location_img {
    margin: 0;
    width: 4.8vw;
    height: 4.8vw;
  }
  
  .adress_text {
    margin: 0;
    width: 87.36%;
    height: 100%;
    font-size: 2.8vw;
    font-weight: 400;
    color: #fff;
  }

  .user_agreement_text {
    margin: 0;
    width: 100%;
    height: 4vw;
    font-size: 3.2vw;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
  }
  
  .menu_box {
    margin: 3.8vw 4.8vw 4.8vw 4.8vw;
    width: 87.05%;
    height: 69.13%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2.8vw;
  }
  
  .contacts_box {
    margin: 4.8vw 4.8vw 0 4.8vw;
    width: 57.26%;
    height: 69.13%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2.8vw;
  }
  
  .contacts {
    margin: 0;
    width: 100%;
    height: 4.8vw;
    font-size: 3.6vw;
    font-weight: 400;
    color: #fff;
  }
  
  .phone {
    margin: 0;
    width: 100%;
    height: 7.2vw;
    font-size: 6vw;
    font-weight: 500;
    color: #fff;
  }
  
  .email {
    margin: 0;
    width: 100%;
    height: 7.2vw;
    font-size: 6vw;
    font-weight: 500;
    color: #fff;
  }
  
  .social_box {
    margin: 4.8vw auto 4.8vw 8.2vw;
    width: 26.8vw;
    height: 12vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
