.elements__delete-button {
    position: absolute;
    top: 20px;
    right: 20px;
    margin: 0;
    padding: 0;
    border: 0;
    background-image: url(../../../images/deletebutton.svg);
    object-fit: cover;
    object-position: center;
    background-size: 18px 19px;
    min-width: 18px;
    min-height: 19px;
    background-color: transparent;
}

.elements__delete-button:hover {
    opacity: 0.6;
    cursor: pointer;
}