.price_row {
  width: 99.69%;
  height: 60px;
  background-color: #fff;
  color: #0c0c0c;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  border-radius: 20px;
  border: 2px solid #89919d;
}

.price_row:hover {
  background-color: #89919d;
  color: #fff;
}

.link {
  width: 100%;
  text-decoration: none;
}

.vendor {
  margin: auto 0 auto 36px;
  width: 15.47%;
  height: 24px;
  font-size: 18px;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.processorVendor {
  margin: auto 0;
  width: 11.6%;
  height: 24px;
  font-size: 18px;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.model {
  margin: auto 0;
  width: 11.6%;
  height: 24px;
  font-size: 18px;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.display {
  margin: auto 0;
  width: 11.6%;
  height: 24px;
  font-size: 18px;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.ram {
  margin: auto 0;
  width: 11.6%;
  height: 24px;
  font-size: 18px;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.ramType {
  margin: auto 36px auto 0;
  width: 20.12%;
  height: 24px;
  font-size: 18px;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@media all and (max-width: 1440px) {
  .price_row {
    height: 4.16vw;
    gap: 1.11vw;
    border-radius: 1.38vw;
    border: 0.13vw solid #89919d;
  }

  .vendor {
    margin: auto 0 auto 2.5vw;
    height: 1.66vw;
    font-size: 1.25vw;
  }

  .processorVendor {
    height: 1.66vw;
    font-size: 1.25vw;
  }

  .model {
    height: 1.66vw;
    font-size: 1.25vw;
  }

  .display {
    height: 1.66vw;
    font-size: 1.25vw;
  }

  .ram {
    height: 1.66vw;
    font-size: 1.25vw;
  }

  .ramType {
    margin: auto 2.5vw auto 0;
    height: 1.66vw;
    font-size: 1.25vw;
  }
}

@media all and (max-width: 768px) {
  .separator:nth-child(6),
  .separator:nth-child(8),
  .separator:nth-child(10) {
    display: none;
  }

  .price_row {
    height: 12vw;
    gap: 2.8vw;
    border-radius: 3.2vw;
  }

  .vendor {
    margin: auto 0 auto 4.8vw;
    width: 34.39%;
    height: 3.6vw;
    font-size: 2.8vw;
  }

  .processorVendor {
    width: 26.39%;
    height: 3.6vw;
    font-size: 2.8vw;
  }

  .model {
    display: none;
  }

  .display {
    margin: auto 4.8vw auto 0;
    width: 18.39%;
    height: 3.6vw;
    font-size: 2.8vw;
  }

  .ram {
    display: none;
  }

  .ramType {
    display: none;
  }
}
