.container {
    margin: 0 auto;
    width: 92.81%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 26px;
  }
  
  .buttons_box {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  .button {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #005CE5;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    border-radius: 20px;
    color: #FFFFFF;
  }
  
  .button:hover {
    background-color: #aac2e4;
  }
  
  .button_active {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #001027;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    border-radius: 20px;
    color: #FFFFFF;
  }

  @media all and (max-width: 1440px) {
    .container {
      gap: 1.8vw;
    }
    
    .buttons_box {
      height: 3.47vw;
    }
    
    .button {
      font-size: 1.25vw;
      line-height: 1.66vw;
      border-radius: 1.38vw;
    }
    
    .button_active {
      font-size: 1.25vw;
      line-height: 1.66vw;
      border-radius: 1.38vw;
    }
  }

  @media all and (max-width: 1024px) {
    .buttons_box {
      height: 4.88vw;
    }

    .button {
      font-size: 1.75vw;
      line-height: 2.34vw;
      border-radius: 1.95vw;
    }
    
    .button_active {
      font-size: 1.75vw;
      line-height: 2.34vw;
      border-radius: 1.95vw;
    }
  }

  @media all and (max-width: 768px) {
    .container {
      width: 92.81%;
      gap: 2.08vw;
    }
    
    .buttons_box {
      height: 12.2vw;
    }
    
    .button {
      font-size: 4.08vw;
      line-height: 2.6vw;
      border-radius: 1.3vw;
    }
    
    .button_active {
      font-size: 4.08vw;
      line-height: 2.6vw;
      border-radius: 1.3vw;
    }
  }