.component_box {
  position: fixed;
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: none;
  background-color: rgba(9, 36, 51, 0.9);
  z-index: 500;
  top: 0;
}

.window_box {
  position: relative;
  width: auto;
  height: auto;
  pointer-events: none; /* Это позволит кликам проходить к бэкграунду */
}

.window_box > * {
  pointer-events: auto; /* Включаем обработку событий для содержимого */
}

.close_icon {
  position: absolute;
  width: 1.25vw;
  height: 1.25vw;
  background-image: url("https://storage.yandexcloud.net/brontosaur/images-for-app/close-icon.svg");
  background-size: 1.25vw 1.25vw;
  top: 1.66vw;
  right: 1.66vw;
  cursor: pointer;
  z-index: 5;
}

@media all and (max-width: 1024px) {
  .close_icon {
    width: 6.51vw;
    height: 6.51vw;
    background-image: url("https://s3.ru1.storage.beget.cloud/2999ef026bdc-russianeasily/images-for-app/close-modal-icon.svg");
    background-size: 6.51vw;
    top: 3.9vw;
    right: 3.9vw;
  }
}

@media all and (max-width: 768px) {
  .close_icon {
    width: 11.76vw;
    height: 11.76vw;
    background-size: 11.76vw;
    top: 3.52vw;
    right: 2.35vw;
  }
}
