.container {
  margin: 16px auto 0;
  width: 100%;
  height: 324px;
  background-color: #fff;
  border-radius: 40px;
  display: flex;
  flex-direction: row;
  gap: 198px;
}

.content_box {
  width: 70.9%;
  margin: 50px auto 50px 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.link_image_to_refill {
  margin: auto 50px auto auto;
  min-width: 80px;
  min-height: 80px;
  background-image: url("../../images/printer-with-plus.svg");
  background-size: 80px 80px;
  object-fit: cover;
  object-position: center;
}

.link_image_to_refill:hover {
  margin: auto 50px auto auto;
  min-width: 80px;
  min-height: 80px;
  background-image: url("../../images/main-blocks-image-hover.svg");
  background-size: 80px 80px;
  object-fit: cover;
  object-position: center;
}

.link_image_to_repair {
  margin: auto 50px auto auto;
  min-width: 80px;
  min-height: 80px;
  background-image: url("../../images/image-to-repair.svg");
  background-size: 80px 80px;
  object-fit: cover;
  object-position: center;
}

.link_image_to_repair:hover {
  margin: auto 50px auto auto;
  min-width: 80px;
  min-height: 80px;
  background-image: url("../../images/main-blocks-image-hover.svg");
  background-size: 80px 80px;
  object-fit: cover;
  object-position: center;
}

.title {
  margin: 0;
  color: #005ce5;
  font-size: 46px;
  font-weight: 500;
}

.description {
  margin: 0;
  color: #0c0c0c;
  font-size: 24px;
  font-weight: 400;
}

.link_image_to_refill_mobile {
  display: none;
}

.link_image_to_refill_mobile:hover {
  display: none;
}

.link_image_to_repair_mobile {
  display: none;
}

.link_image_to_repair_mobile:hover {
  display: none;
}

.mobile_button {
  display: none;
}

@media all and (max-width: 1440px) {
  .container {
    margin: 1.11vw auto 0;
    height: 22.5vw;
    border-radius: 2.77vw;
    gap: 13.75vw;
  }

  .content_box {
    margin: 3.47vw auto 3.47vw 3.47vw;
  }

  .link_image_to_refill {
    margin: auto 3.47vw auto auto;
    min-width: 5.55vw;
    min-height: 5.55vw;
    background-size: 5.55vw 5.55vw;
  }

  .link_image_to_refill:hover {
    margin: auto 3.47vw auto auto;
    min-width: 5.55vw;
    min-height: 5.55vw;
    background-size: 5.55vw 5.55vw;
  }

  .link_image_to_repair {
    margin: auto 3.47vw auto auto;
    min-width: 5.55vw;
    min-height: 5.55vw;
    background-size: 5.55vw 5.55vw;
  }

  .link_image_to_repair:hover {
    margin: auto 3.47vw auto auto;
    min-width: 5.55vw;
    min-height: 5.55vw;
    background-size: 5.55vw 5.55vw;
  }

  .title {
    font-size: 3.19vw;
  }

  .description {
    font-size: 1.66vw;
  }
}

@media all and (max-width: 768px) {
  .container {
    margin: 2.8vw 0 0 0;
    width: 100%;
    height: 100.8vw;
    background-color: #fff;
    border-radius: 6vw;
    display: flex;
    flex-direction: column;
    gap: 4.8vw;
  }

  .content_box {
    width: 88.05%;
    height: 57.6vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2.8vw;
  }

  .link_image_to_refill_mobile {
    display: block;
    margin: 4.8vw 4.8vw 0 4.8vw;
    width: 12vw;
    height: 12vw;
    background-image: url("../../images/printer-with-plus.svg");
    background-size: 100% 100%;
    object-fit: cover;
    object-position: center;
  }

  .link_image_to_repair_mobile {
    display: block;
    margin: 4.8vw 4.8vw 0 4.8vw;
    width: 12vw;
    height: 12vw;
    background-image: url("../../images/image-to-repair.svg");
    background-size: 100% 100%;
    object-fit: cover;
    object-position: center;
  }

  .link_image_to_refill {
    display: none;
  }

  .link_image_to_refill:hover {
    display: none;
  }

  .link_image_to_repair {
    display: none;
  }

  .link_image_to_repair:hover {
    display: none;
  }

  .title {
    margin: 0;
    color: #005ce5;
    font-size: 5.6vw;
    font-weight: 500;
  }

  .description {
    margin: 0;
    color: #0c0c0c;
    font-size: 3.6vw;
    font-weight: 400;
  }

  .mobile_button {
    margin: 0 4.8vw 4.8vw;
    padding: 4vw 0;
    width: 88.05%;
    border-radius: 3.2vw;
    background-color: #005CE5;
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-decoration: none;
  }

  .button_name {
    margin: 0;
    height: 4vw;
    font-size: 3.2vw;
    font-weight: 500;
  }
}