body {
  margin: 0;
}

/*@font-face {
  font-family: 'Jet Brains Mono';
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/JetBrainsMono-Bold.woff") format("woff"),
       url("./fonts/JetBrainsMono-Bold.woff2") format("woff");
}

@font-face {
  font-family: 'Jet Brains Mono';
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/JetBrainsMono-Regular.woff") format("woff"),
       url("./fonts/JetBrainsMono-Regular.woff2") format("woff");
}

@font-face {
  font-family: 'iceland';
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/iceland.woff") format("woff"),
       url("./fonts/iceland.woff2") format("woff");
}*/