.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: all 0.4s linear;
}